.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    color: #e8e8e8;
    display: flex;
    background-color: #282828;
    display: flex;
    padding-block: 10px;
    box-shadow: 1px 1px hsl(0, 0%, 33%);
    padding-inline: 50px;
}

.links {
    flex: 0.49;
    display: flex;
    justify-content: left;
    gap: 30px;
}

.links > a {
    color: #e8e8e8;
}

.links a:hover {
    color: red;
}

.logo {
    justify-self: end;
    flex: 0.05;
    margin-right: 5px;
    color: red;
    font-weight: bold;
    text-align: end;
}

.userName {
    flex: 0.2;
}

.budget {
    color: rgb(26, 196, 26);
}

.userBudget {
    flex: 0.26;
}